.car-component {
    display: flex;
    flex-direction: column;
}

    .car-component .car-policies {
        box-shadow: 0 0 6px 0 hsla(0,0%,66%,.5);
        border: 1px solid #e1e1e1;
        font-size: 12px;
        color: #8d97a1;
        background: #fff;
        position: relative;
        margin: 11px 0;
    }

    .car-component .car-item {
        position: relative;
        display: flex;
    }

        .car-component .car-item .car-img {
            flex: 0 0 168px;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;
        }

        .car-component .car-item .details {
            display: flex;
            flex: 2;
            flex-direction: column;
            justify-content: center;
            border-right: .5px dotted rgba(0,0,0,.1);
            border-left: .5px dotted rgba(0,0,0,.1);
        }

            .car-component .car-item .details .features {
                display: flex;
                justify-content: flex-start;
                margin-left: 20px;
            }

                .car-component .car-item .details .features .feature {
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                }

        .car-component .car-item .seater {
            background-position: 0px 0;
            height: 20px;
            width: 20px;
            display: inline-block;
            background-image: url('../Images/seat.png');
            background-repeat: no-repeat;
            background-size: 20px;
        }

        .car-component .car-item .transmission {
            background-position: 0px 0;
            height: 20px;
            width: 20px;
            display: inline-block;
            background-image: url('../Images/transmission.png');
            background-repeat: no-repeat;
            background-size: 20px;
        }

        .car-component .car-item .fuel {
            background-position: -2px 0;
            height: 20px;
            width: 22px;
            display: inline-block;
            background-image: url('../Images/fuel.png');
            background-repeat: no-repeat;
            background-size: 20px;
        }
        .car-component .car-item .loca {
            background-position: 1px 0;
            height: 20px;
            width: 22px;
            display: inline-block;
            background-image: url(../Images/loc.jpg);
            background-repeat: no-repeat;
            background-size: 12px;
        }

        .car-component .car-item .z-points {
            border-left: 1px solid #c5c5c5;
            padding-left: 15px;
            display: flex;
        }

.ai-c {
    align-items: center;
}

.car-component .car-item .z-points .age-val {
    font-weight: 600;
    font-size: 14px;
    color: #8d97a1;
    margin-left: 4px;
}

.divider {
    border-top: 1px dotted hsla(0,0%,77%,.5);
    width: 100%;
    margin: 5px 0 0px;
}

.car-component .car-item .lacation-selector {
    padding: 50px 20px 18px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.car-item .car-book {
    flex: 0 0 195px;
    display: flex;
}

.car-item .car-amount {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 14px 10px 16px 8px;
    position: relative;
}

    .car-item .car-amount .price {
        font-size: 20px;
        color: #f7dc5f;
        font-weight: 600;
    }


        .car-item .car-amount .price sup {
            font-size: 16px;
            font-weight: 400;
            margin-right: -6px;
            color: #f7dc5f;
        }

    .car-item .car-amount .per-km {
        font-size: 12px;
        color: #000;
        opacity: .54;
    }

    .car-item .car-amount .book-car {
        width: 112px;
        height: 32px;
        margin-top: 20px;
        padding: 6px 10px;
        background-color: #f7dc5f;
        color: #fff;
        outline: none;
        border: 0;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .6px;
        border-radius: 6px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        justify-content:center;
    }
